<?xml version="1.0"?>
<robot
  name="cylinder2">
  <link
    name="cylinder2_link">
    <inertial>
      <origin
        xyz="-1.0917E-17 -2.2762E-49 0.0125"
        rpy="0 0 0" />
      <mass
        value="0.12556" />
      <inertia
        ixx="0.12556"
        ixy="0"
        ixz="0"
        iyy="0.12556"
        iyz="0"
        izz="0.12556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cylinder/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cylinder/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>


  <gazebo reference="cylinder2_link">
    <material>Gazebo/Red</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>5.0</kp>
    <kd>1.0</kd>
    <mu1>10</mu1>
    <mu2>10</mu2>

    <minDepth>0.005</minDepth>
  </gazebo>


</robot>
